.table .thead-light th {
    color: #8a8e92;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.table {
    height: 100%; /* Hoặc thêm chiều cao cụ thể bạn muốn */
}

.table tbody tr {
    height: 50px; /* Tăng chiều cao mỗi hàng */
}

.table td, .table th {
    padding: 16px; /* Tăng khoảng cách nội dung trong các ô */
}
.nav-tabs {
    background-color: #9e9c9c; /* Màu nền xám */
    width: 100%; /* Phủ kín bề ngang */
    margin-left: auto; /* Xóa khoảng trắng bên ngoài */
    margin-right: auto;
  }
  
.nav-tabs .nav-link {
    color: white; /* Màu chữ trắng */
  }
  
.nav-tabs .nav-link:hover {
    color: #ccc; /* Màu chữ khi hover (nếu muốn) */
  }
  
.nav-tabs .nav-link.active {
    background-color: #9e9c9c; /* Màu nền khi đang active */
    color:white;
  }
  
   