.table .thead-light th {
  color: #6c757d; 
  background-color: #f8f9fa;
  border-color: #dee2e6; 
}
.table {
  height: auto; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.table tbody tr {
    height: 50px; /* Tăng chiều cao mỗi hàng */
}

.table td, .table th {
    padding: 20px; /* Tăng khoảng cách nội dung trong các ô */
}
.nav-tabs {
  background-color: #ffffff; /* Màu nền trắng hiện đại */
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #dee2e6; /* Đường viền dưới nhẹ */
  display: flex;
  justify-content: center; /* Căn giữa các mục */
  padding: 8px 0; /* Tăng khoảng cách trên dưới */
}

.nav-tabs .nav-link {
  color: #495057; /* Màu chữ tinh tế */
  font-weight: 500; /* Độ đậm chữ vừa phải */
  padding: 10px 16px; /* Khoảng cách cân đối */
  border-radius: 4px; /* Bo góc nhẹ */
  transition: all 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
}
  

  
.nav-tabs .nav-link.active {
    background-color: #9e9c9c; /* Màu nền khi đang active */
    color:white;
  }
.nav-link.active {
  background-color: #ccc;
  color: black !important;
}
  