html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    flex: 1; /* Nội dung chính chiếm toàn bộ không gian giữa header và footer */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; /* Đẩy footer xuống cuối */
}

.nav-sub-hov >a:hover{
    background-color: #ccc;
    color: black !important;
}
.card-img-top {
    height: 200px; /* Đặt chiều cao cố định cho ảnh */
    object-fit: cover; /* Cắt ảnh vừa với kích thước mà không làm biến dạng */
    width: 100%; /* Đảm bảo ảnh chiếm hết chiều rộng của container */
  }
